<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<button mat-button (click)="openDialog()">Open dialog</button>

<!-- 
<div class="ekart-header">
    <div class="ekart-logo">

       
        eKart
    </div>
</div>
<div class="ekart-header-nav">
    <div class="ekart-top-bar">
        <a href="#">Help</a>
        <a href="#">Exchange & Returns</a>
        <a href="#">Order Tracker</a>
        <a href="#">SignUp / Login</a>
    </div>
</div>
<div class="ekart-bottom-bar">
    <div class="ekart-menu">
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
</div>
<div class="ekart-search-bar">
    <input type="text" class="ekart-search-box" placeholder="Search">
    <button class="ekart-search-btn">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</div> -->