/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body font for good measure */
body {
    font-family: Arial, sans-serif; /* Replace with your preferred font */
}

/* Header */
.ekart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1.5px solid #E5E4E2;
    padding: 1rem; /* Adjust to your preference */
}

.ekart-logo {
    font-size: 2rem; /* 40px if using a 20px base font size */
    font-weight: bold;
    color: #36454F;
    font-family: 'Concert One', cursive;
}

/* Top navigation bar */
.ekart-header-nav {
    width: 100%;
}

.ekart-top-bar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0.5rem 0; /* Adjust to your preference */
}

.ekart-top-bar a {
    text-decoration: none;
    color: #36454F;
    margin: 0 1rem; /* Spacing between links */
    padding: 0.5rem 0; /* Padding for clickable area */
}

/* Bottom navigation bar */
.ekart-bottom-bar {
    width: 100%;
}

.ekart-menu {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0; /* Adjust to your preference */
}

.ekart-menu a {
    text-decoration: none;
    color: #36454F;
    padding: 0.5rem 0; /* Padding for clickable area */
}

/* Search bar */
.ekart-search-bar {
    display: flex;
    justify-content: center; /* Center the search bar */
    padding: 1rem 0; /* Adjust to your preference */
}

.ekart-search-box {
    width: 200px; /* Width of the search box */
    height: 2rem; /* Height of the search box */
    border: 1px solid #D1D1D1;
    padding: 0 1rem; /* Padding inside the search box */
}

.ekart-search-btn {
    height: 2.2rem; /* Height of the button, slightly taller than input for visual effect */
    border: none;
    background-color: #EFEFEF;
    cursor: pointer;
}

.ekart-search-btn i {
    color: #36454F;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .ekart-top-bar, .ekart-menu {
        flex-direction: column;
        align-items: center;
    }
}
